@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap");
@import url("./format.css");

body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 0;
    overflow: hidden;
}

* {
    font-family: "CambriaMath";
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: "CambriaMath";
    src: url("../../fonts/CambriaMath.ttf") format("truetype"),
}