.Prompt {
    transform: translate(-50%, -50%);

    min-width: 50%;
    max-width: 100%;

    min-height: 50%;
    max-height: 100%;

    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(2px);

    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.25);

    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.75);

    z-index: 2;
}

.Prompt > .Topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-left: 8px;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2em;

    background-color: transparent;
    backdrop-filter: initial;

    box-sizing: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);

    user-select: none;

    z-index: 2;
}

.Prompt > .Topbar > span[button] {
    padding: 0;
    margin: 0;
    margin-right: 8px;
    aspect-ratio: 1 / 1;

    text-align: center;

    cursor: pointer;
}

.Prompt > .Content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
    position: absolute;
    left: 0;
    top: 2em;
    height: calc(100% - 2em);

    margin: 8px;
}

.Prompt > .Content textarea,
.Prompt > .Content input {
    outline: none;
    background-color: transparent;
    color: rgb(255, 255, 255);

    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.25);
}

.Prompt > .Content textarea:hover,
.Prompt > .Content input:hover,
.Prompt > .Content textarea:focus,
.Prompt > .Content input:focus {
    background-color: rgba(255, 255, 255, 0.125);
}

.Prompt > .Content button {
    outline: none;
    color: rgb(255, 255, 255);
    background-color: transparent;
    
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.25);

    cursor: pointer;
}

.Prompt > .Content button,
.Prompt > .Content textarea,
.Prompt > .Content input {
    padding: 0 8px 0 8px;
    min-height: 2em;
    max-height: 2em;
    border-radius: 0;
}

.Prompt > .Content input {
    align-content: center;
}

.Prompt > .Content button:hover {
    background-color: rgba(255, 255, 255, 0.125);
}

.Prompt > .Content header {
    font-size: 2em;
}

.Topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    padding-left: 8px;
    padding-bottom: 2px;

    position: absolute;
    width: calc(100% - 6em - 8px);
    height: 2em;

    background-color: rgba(255, 255, 255, 0.125);
    backdrop-filter: blur(2px);

    z-index: 3;

    user-select: none;
}

.Selector {
    display: flex;
    flex-direction: column;

    position: absolute;
    right: 0;
    top: 0;
    width: 6em;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.125);

    overflow-x: hidden;
    overflow-y: auto;
}

.Selector > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;

    padding: 0.5em;
    width: 100%;
    height: fit-content;
    min-height: 2em;

    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.125);

    background-color: rgba(255, 255, 255, 0.125);

    cursor: pointer;
    z-index: 1;
}

.Selector > div > div {
    font-size: 14px;
    text-wrap: wrap;
}

.Selector > div::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    
    background-color: rgba(255, 255, 255, 0.125);
    z-index: -1;

    transition: width 0.25s ease;
}

.Selector > div:hover::after,
.Selector > div[active]::after {
    width: 100%;
}

.ParticleContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 6em);
    height: calc(100% / 16px);

    overflow: hidden;
}

.ParticleContainer > div {
    position: absolute;
}